<div class=" d-flex flex-row justify-content-around p-4 bg-light">
    <div class="d-flex flex-row justify-content-center" >
        <button routerLink="home" class=" btn btn-danger">Home</button>
    </div>
    <br>
    <div class="d-flex flex-row justify-content-center">
        <button routerLink="contact" class="btn btn-outline-danger">Contact</button>
    </div>
    <br>
    <div class="d-flex flex-row justify-content-center">
        <button routerLink="product" class="btn btn-dark">Product</button>
    </div>
    <br>
    <div class="d-flex flex-row justify-content-center">
        <button routerLink="template-form" class="btn btn-primary">SignUP</button>
    </div>
    <br>
    <div class="d-flex flex-row justify-content-center">
        <button routerLink="reactive-form" class="btn btn-danger">Register</button>
    </div>
</div>

<div style="margin-top:2rem; text-align: center;">
    <router-outlet></router-outlet>
</div>